/* src/app/tabs/tabs.page.scss */

ion-tab-bar {
    --background: black; /* Set background color */
    --border-color: #e0e0e0; /* Set border color */
    --height: 60px; /* Adjust height if needed */
    text-decoration: solid;
    color: e0e0e0;
  }
  
  ion-tab-button {
    font-size: 14px; /* Adjust font size */
  }
  
  ion-icon {
    font-size: 24px; /* Adjust icon size */
    color: e0e0e0;
    text-decoration: solid;
    font-weight: bold;
  }
  