<!-- src/app/form/form.page.html -->

<ion-header>
  <ion-toolbar>
    <ion-title>Order Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Name:</ion-label>
      <br>
      <ion-input 
        type="text" 
        formControlName="name" 
        placeholder="Enter name of the Medicine">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      <p class="ion-padding-start">Name is required.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Item Details:</ion-label>
      <br>
      <ion-textarea 
        formControlName="itemDetails" 
        placeholder="Enter Medicine Details">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Amount Paid in Advance:</ion-label>
      <br>
      <ion-input 
        type="number" 
        formControlName="amountPaid" 
        placeholder="Enter amount paid">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('amountPaid')?.invalid && form.get('amountPaid')?.touched">
      <p class="ion-padding-start">Please enter a valid amount.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Actual Amount:</ion-label>
      <br>
      <ion-input 
        type="number" 
        formControlName="actualAmount" 
        placeholder="Enter actual amount">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('actualAmount')?.invalid && form.get('actualAmount')?.touched">
      <p class="ion-padding-start">Please enter a valid amount.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Phone Number:</ion-label>
      <br>
      <ion-input 
        type="tel" 
        formControlName="phoneNumber" 
        placeholder="Enter user phone number">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
      <p class="ion-padding-start">Phone Number must be exactly 10 digits.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Name of the Person:</ion-label>
      <br>
      <ion-input 
        type="text" 
        formControlName="userName" 
        placeholder="Enter name of the person who ordered">
      </ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="form.get('userName')?.invalid && form.get('userName')?.touched">
      <p class="ion-padding-start">Name of the person is required.</p>
    </ion-text>

    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="form.invalid">
      Submit
    </ion-button>
    <ion-button expand="block" color="primary" routerLink="/home">
      Back to Home Screen
    </ion-button>

  </form>
</ion-content>
