<ion-header>
  <ion-toolbar>
    <ion-title>List of Pre Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="table-responsive">
    <table class="records-table">
      <thead style="color: black;">
        <tr>
          <th>Name</th>
          <th>Item Details</th>
          <th>Amount Paid</th>
          <th>Actual Amount</th>
          <th>Phone</th>
          <th>User</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of items">
          <td>{{ record.name }}</td>
          <td>{{ record.itemDetails }}</td>
          <td>{{ record.amountPaid }}</td>
          <td>{{ record.actualAmount }}</td>
          <td>{{ record.phoneNumber }}</td>
          <td>{{ record.userName }}</td>
          <td>
            <ion-buttons>
              <ion-button color="primary" (click)="editItem(record.id!)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
              <ion-button color="danger" (click)="deleteItem(record.id!)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Optional: Show a message if no records are present -->
  <ion-text *ngIf="items.length === 0" class="ion-text-center">
    <p>No records found.</p>
  </ion-text>
</ion-content>
